<!-- {% load static %}
{% load heroicons %}


{% if request.session.current_route == route %}
<a class="flex items-center justify-center xl:justify-start
        text-lg text-white 
        mb-5 transition duration-350 ease-in-out cursor-pointer"
        href="{% url route %}"
      >
        {% heroicon_outline icon size=40 class="h-6 w-6 inline text-red-500" %}
        <span class="hidden xl:block ml-4 font-bold">{{ text }}</span>
</a>
{% else %}
<a class="flex items-center justify-center xl:justify-start
        text-lg text-white opacity-60 hover:opacity-100 
        mb-5 transition duration-350 ease-in-out cursor-pointer"
        href="{% url route %}"
      >
        {% heroicon_outline icon size=40 class="h-6 w-6 inline text-red-500" %}
        <span class="hidden xl:block ml-4 font-bold">{{ text }}</span>
</a>
{% endif %} -->