{% extends "../../base.html" %}
{% block title %}Virtual rooms{% endblock %}
{% load static %}
{% load components %}

{% block content %}
    
<div class="flex flex-col bg-[#1F1D2B] m-auto pt-20">
  
  <div class="pt-1">
   
    <h1 class="flex py-5 lg:px-10 md:px-10 px-5 lg:mx-10 md:mx-10 mx-5 font-bold text-4xl text-white">
          Public rooms
        </h1>
        <div
          class="flex overflow-x-scroll pb-10 hide-scroll-bar"
        >
           <div
            class="flex flex-nowrap lg:ml-10 md:ml-10 ml-10 "
          >

            {%component 'sub_components/room_card.html' route="home:room_area" room_id="yt65634" %}           
            {%component 'sub_components/room_card.html' route="home:room_area" room_id="yt65634" %}
            {%component 'sub_components/room_card.html' route="home:room_area" room_id="yt65634" %}
            {%component 'sub_components/room_card.html' route="home:room_area" room_id="yt65634" %}

            </div>
          </div>
        </div>
      </div>

        <div class="pt-1">
          <h1 class="flex py-5 lg:px-10 md:px-10 px-5 lg:mx-10 md:mx-10 mx-5 font-bold text-4xl text-white">
                  Private rooms
                </h1>
                <div
                  class="flex overflow-x-scroll pb-10 hide-scroll-bar"
                >
                
                   <div
                    class="flex flex-nowrap lg:ml-10 md:ml-10 ml-10 "
                  >
        
                    {%component 'sub_components/room_card.html' route="home:room_area" room_id="yt65634" %}           
                    {%component 'sub_components/room_card.html' route="home:room_area" room_id="yt65634" %}
                    {%component 'sub_components/room_card.html' route="home:room_area" room_id="yt65634" %}
                    {%component 'sub_components/room_card.html' route="home:room_area" room_id="yt65634" %}
                    
                    </div>
                  </div>
                </div>
          </div>
  </div>

  {% endblock content %}